<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

<context-param>
	<param-name>ADMINCHAT_PATH</param-name>
	<param-value>/chat/RoomController</param-value>
</context-param>

<context-param>
	<param-name>ROOMLIST_PATH</param-name>
	<param-value>/chat/User</param-value>
</context-param>

<context-param>
	<param-name>CHROOM_PATH</param-name>
	<param-value>/chat/ChitChat</param-value>
</context-param>

<servlet>
	<servlet-name>Chat</servlet-name>
	<servlet-class>chit.chat.Chat</servlet-class>
</servlet>

<servlet>
	<servlet-name>RoomController</servlet-name>
	<servlet-class>chit.chat.RoomController</servlet-class>
</servlet>

<servlet>
	<servlet-name>ChitChat</servlet-name>
	<servlet-class>chit.chat.ChitChat</servlet-class>
</servlet>

<servlet>
	<servlet-name>User</servlet-name>
	<servlet-class>chit.chat.User</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>RoomController</servlet-name>
	<url-pattern>/RoomController</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>User</servlet-name>
	<url-pattern>/User</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>ChitChat</servlet-name>
	<url-pattern>/ChitChat</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Chat</servlet-name>
	<url-pattern>/Chat</url-pattern>
</servlet-mapping>

</web-app>
